.blog-detail-container {
    margin: 50px auto;
    width: 700px;
}

.title {
    font-size: 45px;
    padding-bottom: 30px;
}

.author-container {
    display: flex;
    align-items: center;
}

.author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    font-size: 20px;
}

.dot {
    font-size: 20px;
    padding: 2px 5px;
}

.follow {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.dim-color {
    color: #454545;
}
.like-share-container{
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.like{
    width: 30px;
    padding: 15px;
}
.like-comment-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 20px;
    padding: 20px;
}
.icon:hover,
.like:hover{
    transform: scale(1.2);
    transition: .3s;
}
.blog-content{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.categories{
    font-size: 20px;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
.bottom-author-name{
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}