.blogs-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.main-title{
    text-align: center;
    display: block;
    margin: 20px auto; 
    padding: 5px;
    font-size: 40px;
    font-weight: 800;
    width: 200px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}